[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = {extras = ["all"], version = "*"}
torch = "*"
datasets = "*"
accelerate = "*"
transformers = "*"
deepspeed = "*"
py-cpuinfo = "*"
timm = "*"
evaluate = "*"

[dev-packages]

[requires]
python_version = "3.10"
