[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = {extras = ["all"], version = "*"}
hydra-core = "*"
torch = "*"
datasets = "*"
accelerate = "*"
transformers = "*"
deepspeed = ">=0.13.3"
py-cpuinfo = "*"
timm = "*"
evaluate = "*"
pandas = "<2.2" # ray is currently broken

[dev-packages]

[requires]
python_version = "3.11"
